<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Home</h2>
    </div>
    <div class="card-body">
      <p>- This app is for a tire store chain. It allows them to add store locations in the stores tab, add employees and what store they work at, and add items and how much they cost.</p>
      <p>- You can also filter employees based on what store they work at.</p>
      <p>- Stores can then order a quantity of an item to there store, and they can then track the order and see when it is pending, outbound, or delivered.</p>

      <p>Ways you can filter orders:</p>
      <ul>
        <li>Pending orders</li>
        <li>Outbound orders</li>
        <li>Delivered orders</li>
        <li>Orders for a set store</li>
        <li>Orders for a set item</li>
      </ul>
    </div>
  </div>
</div>
